---
---
<!DOCTYPE html>
<html>
<head>
	<title>Lapor Baca Sanggar Caraka</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/progress.css">
</head>
<body>
	<div class="vue">
		<div class="container">
			<br>
			<router-view></router-view>
			<br>
		</div>
		<div class="progress-loading sembunyi">
	      <div class="indeterminate"></div>
	    </div>
	</div>
	{% include beranda.html %}
	{% include beranda/laporan.html %}
	{% include beranda/daftar.html %}
	{% include beranda/rekap.html %}
        {% include beranda/semua.html %}
	<script type="text/javascript" src="vendor/vue.min.js"></script>
	<script type="text/javascript" src="vendor/vue-router.min.js"></script>
	<script type="text/javascript">
		// api = 'http://localhost/lapor-baca'
		api = 'https://mzaini30.nasihosting.com/lapor-baca'
		loading = () => document.querySelector('.progress-loading').classList.remove('sembunyi')
   		loading_selesai = () => document.querySelector('.progress-loading').classList.add('sembunyi')
		new Vue({
			el: '.vue',
			router: new VueRouter({
				routes: [
					{
						path: '/',
						component: beranda,
						children: [
							{
								path: '',
								component: beranda_laporan
							},
							{
								path: 'daftar',
								component: beranda_daftar
							},
							{
								path: 'rekap',
								component: beranda_rekap
							},
							{
								path: 'semua',
								component: beranda_semua
							}
						]
					}
				]
			})
		})
	</script>
</body>
</html>
