<template id="beranda_laporan">
	<div>
		<p><strong>Laporan</strong></p>
		<form @submit.prevent='tambah()'>
			<div class="form-group">
				<label>Nama</label>
				<select class="form-control" v-model='nama' required="">
					<option v-for='x in list_nama' :value="x.id" v-text='x.nama + " - " + x.domisili'></option>
				</select>
			</div>
			<div class="alert alert-info">Namamu belum terdaftar? <router-link to='/daftar'>Daftar dulu</router-link></div>
			<div class="form-group">
				<label>Judul buku</label>
				<input type="search" class="form-control" v-model='judul' required="" name="">
			</div>
			<div class="form-group">
				<label>Penulis</label>
				<input type="search" class="form-control" name="" v-model='penulis' required="">
			</div>
			<div class="form-group">
				<label>Jumlah halaman baca</label>
				<input type="number" class="form-control" name="" required="" v-model='halaman'>
			</div>
			<div class="form-group">
				<input type="submit" value="Kirim" class="btn btn-success" name="">
			</div>
		</form>
	</div>
</template>
<script type="text/javascript">
	beranda_laporan = {
		template: '#beranda_laporan',
		data(){
			return {
				nama: '',
				judul: '',
				penulis: '',
				halaman: '',
				list_nama: []
			}
		},
		methods: {
			cek_nilai(){
				if (localStorage.nilai_caraka){
					nilainya = JSON.parse(localStorage.nilai_caraka)
					this.nama = nilainya.nama
					this.judul = nilainya.judul
					this.penulis = nilainya.penulis
					this.halaman = nilainya.halaman
				}
			},
			cache(){
				localStorage.setItem('nilai_caraka', JSON.stringify({
					nama: this.nama,
					judul: this.judul,
					penulis: this.penulis,
					halaman: this.halaman
				}))
			},
			ambil_nama(){
				loading()
				fetch(`${api}/anggota.php/nama-anggota`).then(x => x.json()).then(data => {
					this.list_nama = data
					loading_selesai()
				})
			},
			tambah(){
				body = new FormData
				body.append('anggota_id', this.nama)
				body.append('judul', this.judul)
				body.append('penulis', this.penulis)
				body.append('halaman', this.halaman)
				loading()
				fetch(`${api}/laporan.php/tambah`, {
					method: 'post',
					body
				}).then(() => {
					this.$router.push('/rekap')
					loading_selesai()
				})
			}
		},
		watch: {
			nama(){
				this.cache()
			},
			judul(){
				this.cache()
			},
			penulis(){
				this.cache()
			},
			halaman(){
				this.cache()
			}
		},
		mounted(){
			this.cek_nilai()
			this.ambil_nama()
		}
	}
</script>